# <font color = 'brown'> DATA CLEANING </font>

### <u>Data cleaning (or also known as Data Pre-processing)</u> :<br/> <br/>Preparation of data directly after accessing it from a data source.

In [1]:
import pandas as pd

### <font color = 'drak green'> Importing Data </font>
Data has been randomly choosen from **data.gov**

**METHOD 1**

In [3]:
data = pd.read_csv("C:/Users/HP PAV 15 CC130TX/OneDrive/Desktop/stolengun/2017-first-quarter-stolen-guns.csv")
data.head(3)

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

**METHOD 2**
> Mostly useful when all files are at same path

In [78]:
path = "C:/Users/HP PAV 15 CC130TX/OneDrive/Desktop/stolengun"
filename = '2017-first-quarter-stolen-guns.csv'
fullpath = path + '/' + filename
data2 = pd.read_csv(fullpath)
data2.head(3)

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

**METHOD 3**

In [69]:
import os
#The OS module in python provides functions for interacting with the operating system. 

path_ = "C:/Users/HP PAV 15 CC130TX/OneDrive/Desktop/stolengun"
filename_ = '2017-first-quarter-stolen-guns.csv'
fullpath_ = os.path.join(path_,filename_)
data3 = pd.read_csv(fullpath_)
data3.head(3)

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

### <font color='dark green'> Adding Column Names </font>

> **This is our data which doesn't contain any Headers/Column names**

In [74]:
Hdata1 = pd.read_csv("C:/Users/HP PAV 15 CC130TX/OneDrive/Desktop/stolengun/2017-first-quarter-stolen-guns.csv",
                    header = None, skiprows = 1 )
Hdata1.head(3)

,0,1,2,3,4,5,6,7,8,9
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

**METHOD 1**

In [72]:
headers = ['Prop_num','Date','Brand','Model','Color','Stolen','Stolen_from','Status','Incident','Agency_code']
Hdata1.columns = headers
Hdata1.head(3)

,Prop_num,Date,Brand,Model,Color,Stolen,Stolen_from,Status,Incident,Agency_code
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

**METHOD 2**
> by using ***names*** attribute in ***read*** method

In [75]:
Hdata2 = pd.read_csv("C:/Users/HP PAV 15 CC130TX/OneDrive/Desktop/stolengun/2017-first-quarter-stolen-guns.csv",header = None, skiprows = 1,
                    names = headers)
Hdata2.head(3)

,Prop_num,Date,Brand,Model,Color,Stolen,Stolen_from,Status,Incident,Agency_code
0,P24567,01/12/2017,NaN,BOLT ACTION SH,NaN,Stolen Locally,Residence,Not Recovered,B17-01302,BPD
1,P24806,01/22/2017,TAURUS,NaN,BLACK,Stolen Locally,Vehicle,Recovered Other,B17-02589,BPD
2,P25118,01/31/2017,NaN,SHOTGUN,NaN,Stolen Locally,Residence,Not Recovered,B17-02584,BPD

### <font color='dark green'>Knowing about Data</font>

In [82]:
data.shape 

#15 rows, 10 columns

(15, 10)

In [84]:
data.columns

Index(['Property Number', 'Date', 'Brand', 'Model', 'Color ', 'Stolen',
       'Stolen From', 'Status', 'Incident number', 'Agency code'],
      dtype='object')

In [89]:
data.describe()

#when data is numeric other discriptive statistics like mean,median,quartiles, etc will also be calculated

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
count,15,15,12,11,9,15,15,15,15,15
unique,15,10,11,11,1,1,3,3,10,1
top,P25119,03/29/2017,TAURUS,SR 9MM,BLACK,Stolen Locally,Residence,Not Recovered,B17-11696,BPD
freq,1,5,2,1,9,15,11,8,5,15

In [91]:
 data.dtypes

Property Number    object
Date               object
Brand              object
Model              object
Color              object
Stolen             object
Stolen From        object
Status             object
Incident number    object
Agency code        object
dtype: object

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
Property Number    15 non-null object
Date               15 non-null object
Brand              12 non-null object
Model              11 non-null object
Color              9 non-null object
Stolen             15 non-null object
Stolen From        15 non-null object
Status             15 non-null object
Incident number    15 non-null object
Agency code        15 non-null object
dtypes: object(10)
memory usage: 1.3+ KB

### <font color='dark green'>Knowing about Null values</font>

**METHOD 1**

In [92]:
#to know entries of missing values in a dataframe

pd.isnull(data) 

#results true if null, false if not null

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
0,False,False,True,False,True,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False
2,False,False,True,False,True,False,False,False,False,False
3,False,False,True,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,True,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,False
11,False,False,False,True,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,True,False,False,False,False,False

**METHOD 2**

In [93]:
#to know entries of missing values of a cloumn in a dataframe

pd.isnull(data['Brand'])

0      True
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Brand, dtype: bool

**METHOD 3**
> using ***notnull()***

In [94]:
pd.notnull(data['Brand']) 

#results true if not null, false if null

0     False
1      True
2     False
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
Name: Brand, dtype: bool

**METHOD 4**

In [6]:
pd.isnull(data['Model']).sum()

#number of null values from Model column

4

**METHOD 5**

In [5]:
pd.notnull(data['Model']).sum()

#number of not null values from Model column

11

### <font color='dark green'> Fixing null/missing values</font>
**METHOD 1 - Imputation**

In [106]:
data['Brand'].fillna('missing')

0              missing
1               TAURUS
2              missing
3              missing
4          SPRINGFIELD
5         WALTHER PPKS
6                RUGER
7       SMITH & WESSON
8             GLOCK 19
9               TAURUS
10             SCAR 17
11               AU 47
12               GLOCK
13           REMINGTON
14    AERIAL PRECISION
Name: Brand, dtype: object

A common imputation is with the mean or median value of that column.Since all the values are categorical it is done this way.<br/>
**Note** : Below codes is just done for showing other possible attributes of ***fillna*** method

In [108]:
data['Model'].fillna(method = 'ffill')

#ffill replaces the missing values with the nearest preceding non-missing value

0     BOLT ACTION SH
1     BOLT ACTION SH
2            SHOTGUN
3              RIFLE
4          XDMWOE192
5               .380
6             SR 9MM
7             SR 9MM
8              GEN 4
9              PQ111
10             PQ111
11             PQ111
12                19
13          SHOT GUN
14             AR 15
Name: Model, dtype: object

In [109]:
#backfill replaces the missing value with the nearest succeeding non-missing value

data['Model'].fillna(method = 'backfill')

0     BOLT ACTION SH
1            SHOTGUN
2            SHOTGUN
3              RIFLE
4          XDMWOE192
5               .380
6             SR 9MM
7              GEN 4
8              GEN 4
9              PQ111
10                19
11                19
12                19
13          SHOT GUN
14             AR 15
Name: Model, dtype: object

**METHOD 2 - Deletion**

In [111]:
data.dropna(axis = 0, how = 'any')

#delets all rows that contain null values

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency code
4,P25236,02/05/2017,SPRINGFIELD,XDMWOE192,BLACK,Stolen Locally,Vehicle,Not Recovered,B17-04349,BPD
6,P25797,03/02/2017,RUGER,SR 9MM,BLACK,Stolen Locally,Vehicle,Not Recovered,B17-07756,BPD
8,P25955,03/13/2017,GLOCK 19,GEN 4,BLACK,Stolen Locally,Residence,Not Recovered,B17-09333,BPD
9,P26122,03/21/2017,TAURUS,PQ111,BLACK,Stolen Locally,Residence,Recovered Locally,B17-10518,BPD
12,P26320,03/29/2017,GLOCK,19,BLACK,Stolen Locally,Residence,Recovered Other,B17-11696,BPD
13,P26322,03/29/2017,REMINGTON,SHOT GUN,BLACK,Stolen Locally,Residence,Recovered Other,B17-11696,BPD